.left {
    float: left;
}

.right {
    float:right;
}

.clear {
    clear: both;
}

.padded {
    padding: 20px;
    width: 850px;
}

.spaceunder {
    padding-bottom: 10px;
}

.information {
    color: #3F5429;
    font-size: large
}

.warranty {
    padding: 30px;
    border: 5px;
    border-color: #3F5429;
}

.contract {
    font-size: smaller;
}
.larger {
    font-size: large;
}