.container-home
{
    position: absolute;
    top: 0;
    left: 0;
}

.siren-diag
{
    position: absolute;
    top: 840px;
    left: 320px;
}

.siren
{
    width: 630px;
    height: 50px;
}

.diag,
.diag:hover,
.diag:visited,
.diag:focus
{
    color: transparent;
}

.offer
{
    position: absolute;
    top: 6000px;
    left: 150px;
}