@using EulerHermesInnovathon.Models.Button;
@model List<Category>
@{
    ViewBag.Title = "Categories";
}

<div class="jumbotron">
    <h1>EH Emergency</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>

<h2>Choisir votre categorie :</h2>
@foreach (var cat in Model)
{
    <p>@Html.ActionLink(cat.Name, "Quotes", new { catId = cat.Id }, new { @class = "btn btn-primary" })</p>
    <p>@cat.Description</p>
}
