@using EulerHermesInnovathon.Models.Button;
@{
    ViewBag.Title = "Index";
}

<div class="spaceunder"><img src="~/Content/Bandeau-ecran1.png" /></div>
<a href="Home/Category"><img src="~/Content/Image-XL-Bouton-bleu.png" /></a>